In [ ]:
import pandas as pd

In [ ]:
df_zonas = pd.DataFrame({'zona_nome': [], #tem
                         'pontos_total': [],#tem
                         'pontos_freq': [],#tem
                         'edu_total': [],#tem
                         'edu_freq': [], #tem# qtd de eqp de educação dentro do buffer da zona x
                         'saude_total': [],#
                         'saude_freq': [], ## qtd de eqp de saude dentro do buffer da zona x
                         
                         'area_km2':[],   
                         'populacao': []
                         
                         })
#'p_acessibilidade': [], # (%acessibilidade_saude + %acessibilidade_edu) / 2 => % de acessibilidade da zona x
# acessibilidade == qtd_dentro_buffer / qtd_total

In [ ]:
df_zonas.loc[len(df_zonas)] = ['Leste', 
                               7275,
                               4968,
                               2671,
                               2641,
                               367,
                               362,
                               331.492236,
                               #2045449
                               3415623
                               ]
print(df_zonas)

In [ ]:
df_zonas.loc[len(df_zonas)] = ['Norte', 
                               4439,
                               2813,
                               1432,
                               1410,
                               190,
                               187,
                               296.872238,
                               #1125738
                               2189273
                               
                               ]

In [ ]:
df_zonas.loc[len(df_zonas)] = ['Sul', 
                               6017,
                               3731,
                               2203,
                               2153,
                               362,
                               341,
                               740.469917,
                               #1962725
                               2252079
                               
                               ]

In [ ]:
df_zonas.loc[len(df_zonas)] = ['Oeste', 
                               2260,
                               1337,
                               712,
                               677,
                               98,
                               93,
                               128.988375,
                               #904226
                               888623
                               
                               ]

In [ ]:
df_zonas.loc[len(df_zonas)] = ['Centro', 
                               806,
                               501,
                               243,
                               241,
                               73,
                               73,
                               26.662624,
                               #639277
                               431106
                               
                               ]

In [ ]:
print(df_zonas)

In [ ]:
for index, row in df_zonas.iterrows():
    p_edu = row['edu_freq'] / row['edu_total']
    p_sau = row['saude_freq'] / row['saude_total']
    df_zonas.loc[index,'p_acessibilidade'] = (p_edu + p_sau)/2
    df_zonas.loc[index,'densidade'] = row['populacao']/row['area_km2']
    df_zonas.loc[index,'pontos_por_km2'] = row['pontos_total']/row['area_km2']
    df_zonas.loc[index,'pontos_f_por_km2'] = row['pontos_freq']/row['area_km2']
    df_zonas.loc[index,'%_pontos_f'] = row['pontos_freq']/20928
    df_zonas.loc[index,'edu_por_km2'] = row['edu_total']/row['area_km2']
    
print(df_zonas)

In [ ]:
df_bairros = pd.read_csv("bairro_populacao.csv", sep=',')

In [ ]:
df_bairros.drop(['populacao', 'area_hect', 'habit_hect', 'ano_densid','an_censo'], axis=1)
print(df_bairros.columns)

In [ ]:
df_bairros = df_bairros.groupby('ds_nome', as_index=False).agg({'ds_codigo':'first', 
                                                                'ds_cd_sub':'first', 
                                                                'ds_subpref':'first', 
                                                                'ds_sigla':'first',
                                                                'ds_areamt':'first', 
                                                                'ds_areakm':'first', 
                                                                'ID':'first', 
                                                                'AREA':'first', 
                                                                'COD_REG_5':'first', 
                                                                'NOME':'first', 
                                                                'id_2':'first',       
                                                                'setor_cens':'first', 
                                                                'populacao':'sum', 
                                                                'area_hect':'first', 
                                                                'habit_hect':'first', 
                                                                'ano_densid':'first',       
                                                                'an_censo':'first', 
                                                                'qtd_pop_por_bairro':'first'})

print(df_bairros.head())

In [ ]:
print(df_bairros[df_bairros['ds_nome'].isin(['SAO DOMINGOS','VILA MARIANA'])])

In [ ]:
df_metro = df_bairros[df_bairros['ds_codigo'].isin([76,73,72,71,70, 7, 69, 66, 62, 60, 6, 59, 5, 49, 46, 45, 38, 37, 34, 32, 26, 19, 15, 12, 10])]
print(df_metro[['ds_nome','populacao']])

In [ ]:
print(df_metro['populacao'].sum()/df_bairros['populacao'].sum())

In [ ]:
df = pd.merge(df_bairros, df_zonas, on= 'zona_nome')
df = df.rename(columns={'ID': 'zona_id', 
                                        'AREA': 'zona_area', 
                                        'COD_REG_5': 'zona_cod_5', 
                                        'ZONA': 'zona_nome',
                                        'pontos_por_km2': 'pontos_km2_zona',
                                        'pontos_f_por_km2': 'pontosf_km2_zona'
                                        })

In [ ]:
sd = df[df['ds_nome']=='SAO DOMINGOS']
print(sd.loc[:,['pontos_total', 'pontos_freq']])